<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head th:replace="layouts :: head (pageTitle = 'CREATE STUDENT')"></head>
<body>
    <nav th:replace="layouts :: nav"></nav>
    <div class=" container add-section">
        <form action="/student/save" method="POST" th:object="${student}">
            <fieldset>
                <legend class="adding-page-custom">New Student</legend>
        
                <div class="row">
                    <div class="col">
                    <label for="firstName" class="mb-2"></label>
                    <input class="form-control" placeholder="First name" type="text" th:field="${student.firstName}">
                </div>
                <div class="col">
                    <label for="lastName" class="mb-2"></label>
                    <input type="text" placeholder="Last name" class="form-control" th:field="${student.lastName}">
                </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber" class="mb-2"></label>
                    <input type="text" placeholder="Phone Number" class="form-control" th:field="${student.phoneNumber}">
                </div>
                <div class="form-group">
                    <label for="email" class="mb-2"></label>
                    <input type="text" placeholder="E-mail Address" class="form-control" th:field="${student.email}">
                </div>
                <div class="form-group select-list">
                    <label for="student_course" class="mb-1">Courses: </label>
                    <select class="form-control multi" multiple="multiple" th:field="*{courses}">
                        <option th:each="course: ${courses}" th:value="${course.courseId}" th:text="${course}"></option>
                    </select>
                </div>
                <button class="btn btn-dark btn-add">Submit</button>
            </fieldset>
        </form>
    </div>
</body>
</html>