<!DOCTYPE html>
<html lang="en">
    <head th:replace="layouts :: head (pageTitle = 'EDIT-STUDENT')">
    </head>
    <body>
        <nav th:replace="layouts :: nav"></nav>

        <div class=" container">
            <form action="/studentstudents/edit/UpdateStudent" method="POST">
                <fieldsset>
                    <legend>Edit Student</legend>
                    <!-- <div class="form-group mb-2">
                        <label for="firstName" class="mb-2">Student First Name:</label>
                        <input class="form-control" type="text" th:field="${student.firstName}">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="mb-2">Student Last Name:</label>
                        <input type="text" class="form-control" th:field="${student.lastName}">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber" class="mb-2">Student Phone Number:</label>
                        <input type="text" class="form-control" th:field="${student.phoneNumber}">
                    </div>
                    <div class="form-group">
                        <label for="email" class="mb-2">Student Email Address</label>
                        <input type="text" class="form-control" th:field="${student.email}">
                    </div> -->
    
                    <button class="btn btn-dark">Submit</button>
                </fieldsset>
    
            </form>
        </div>

    </body>
</html>