<!DOCTYPE html>
<html lang="en">
  <head th:replace="layouts :: head (pageTitle = 'STUDENTS')"> </head>
  <body>
    <nav th:replace="layouts :: nav"></nav>
    <div class="container">
      <h1>Student List</h1>

      <div class="row-of-tables">
        <div class="custom-table">
          <!-- <h4>Students</h4> -->
          <hr />

          <table class="table table-bordered table-striped">
            <thead class="table-custom">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Courses</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr th:each="student: ${students}">
                <th><a href="/" th:text="${student.firstName}"></a></th>
                <th th:text="${student.lastName}"></th>
                <th th:text="${student.phoneNumber}"></th>
                <th th:text="${student.email}"></th>
                <th th:text="${student.courses}"></th>
                <th>
                  <!-- <button class="btn btn-success"><a href="/students/edit/{studentId}">EDIT</a></button> -->
                  <button class="btn btn-sm btn-custom edit">
                    <a
                      style="text-decoration: none; color: inherit"
                      th:href="@{/student/edit/{id}(id=${student.studentId})}"
                      >EDIT</a
                    >
                  </button>
                  <!-- <button class="btn btn-sm btn-custom delete" onclick={confirmStudentDeletion()}> -->

                  <!-- <button class="btn btn-sm btn-custom delete" th:onclick={confirmStudentDeletion()}>
                    <a
                      th:href="@{/student/delete/{id}(id=${student.studentId})}"
                      style="text-decoration: none; color: inherit">
                      DELETE
                    </a>
                  </button> -->
                  
                  <!-- <button class="btn btn-sm btn-custom delete" onclick="deleteStudent()">
                    <a
                      style="text-decoration: none; color: inherit">
                      DELETE
                    </a>
                  </button>
                  <div id="confirm" hidden>
                    <h3>Confirmation</h3>
                    <p>Are you sure you want to delete this student?</p>
                    <button class="warning" th:onclick="confirmYes([[${student.studentId}]])">Yes</button>
                    <button onclick="confirmNo()">No</button>
                  </div> -->


                  <button class="btn btn-sm btn-custom delete" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a
                      th:href="@{/student/delete/{id}(id=${student.studentId})}"
                      style="text-decoration: none; color: inherit">
                      DELETE
                    </a>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h2 class="modal-title" id="exampleModalLabel">Confirmation</h2>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete this student?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                          <button type="button" class="btn btn-primary" th:onclick="confirmDeletionOfStudent([[${student.studentId}]])">Yes</button>
                        </div>
                      </div>
                    </div>
                  </div>



                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
