<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'STUDENTS')">
</head>
<body>
    <h1>Student List</h1>

    <div class="row-of-tables">
        <div class="custom-table">
            <h4>Current Projects</h4>
            <hr>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Name</th>
                        <th>Project Stage</th>
                        <th>Project Description</th>
                        <th>Project Employee(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr th:each="project: ${projects}">
                        <th th:text="${project.projectName}"></th>
                        <th th:text="${project.projectStage}"></th>
                        <th th:text="${project.projectDescription}"></th>
                        <th th:text="${project.employees}"></th> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>