@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

* {
  font-weight: 400;
}

body {
  background-color: #f1eced;
  font-family: Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic,
    sans-serif;
}
@keyframes image_anime {
  0% {
    background-image: url(bg1.jpg);
  }
  50% {
    background-image: url(bg2.jpg);
  }
  100% {
    background-image: url(bg5.jpg);
  }
}
h1 {
  /* margin: 20px; */
  /* font-family: "Paytone One"; */
  color: #202020;
  letter-spacing: 1px;
}

h1 span {
  display: block;
  letter-spacing: -2px;
  padding-top: 0;
  margin: 0 0 17px 5px;
  font-size: 25px;
  line-height: 30px;
  color: #540b06;
  text-shadow: 0 10px 8.896px #8d3630, 0 -2px 1px rgb(128, 101, 101);
  letter-spacing: 1px;
}

.nav-bar-home h1 a {
  /* display: block;
  line-height: 1;
  font-weight: 100;
  font-size: 25px;
  font-weight: 900;
  width: 500px;
  text-decoration: none;
  color: #540b06;
  text-transform: uppercase; */
  text-transform: uppercase;
  text-decoration: none;
}
h1 {
  /* margin: 10px 10px; */
  padding-top: 100px;
}

.nav-bar-home h1 {
  padding-top: 0;
}

.bg-img {
  animation: image_anime 10s ease infinite; /* 5秒のアニメーションを繰り返す */
  /* background-image: url(background.jpg); */
  width: 100%; /* 横幅を200pxに指定 */
  padding-top: 100px;
  padding-bottom: 100px;

  min-height: 100vh;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar {
  background: rgb(173, 97, 99);
  background: linear-gradient(
    90deg,
    rgba(173, 97, 99, 1) 0%,
    rgba(185, 115, 117, 1) 45%,
    rgba(206, 177, 190, 1) 100%
  );
}

.nav-item a {
  color: #e2dcde;
  font-weight: 200;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: 0 50px;
  font-size: 20px;
  /* border: solid 2px #2f111e; */
}
.nav-item a:hover {
  color: #ceb1be;
  /* text-decoration: underline; */
  font-weight: 300;
}

.a.nav-link:active {
  color: #7b3437 !important;
  font-weight: 1000;
}

.navbar {
  display: flex;
  margin-bottom: 0;
  padding-bottom: 0;
  justify-content: left;
  height: 70px;
  /* border: solid 2px #ff0f0f; */
}
.navbar-nav {
  margin: 6px 0;
  display: flex;
  justify-content: center;
  position: relative;

  /* border: solid 2px #d35e91; */
}

.nav-bar-home {
  position: absolute;
  top: 5px;
  width: 500px;
  margin-left: 20px;

  padding: 0;
  margin: 0;
  /* border: solid 2px #2f111e; */
}

.nav-list {
  text-align: center;
}

.homepage-head {
  padding-top: 100px;
}

.btn-add {
  width: 100%;
  height: 40px;
}

.table-custom {
  background-color: #1b1b3a;
  color: #f1e4e8;
  font-weight: 1000 !important;
  text-align: center;
  text-transform: uppercase;
}

.select-list {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* button */
.dropdown-toggle {
  background-color: #f1e4e8;
}
.btn-align {
  background-color: transparent;
}

a.btn-custom {
  overflow: hidden;
  padding: 1.5rem 6rem;
  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-custom span {
  position: relative;
}

a.btn-custom:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #eb6877;
}

a.btn-custom:hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.btn-custom.edit a {
  display: inline-block;
  width: 80px;
  padding: 0.3em 0.5em;
  background-color: #39a0ba;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  color: #1b1b3a !important;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}
.btn-custom.delete a {
  display: inline-block;
  width: 80px;
  padding: 0.3em 0.5em;
  background-color: #b7615b;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  color: #fff !important;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
}
.btn-custom a:hover {
  top: 2px;
  box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.416);
}
.btn-custom.edit a:hover {
  background-color: #2f6d7c;
}
.btn-custom.delete a:hover {
  background-color: #8d3630;
}
.btn-align {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.btn-home {
  display: inline-block;
  width: 100%;
  padding: 0.3em 0.5em;
  background-color: #3d3d84;
  box-shadow: 0 5px 0 #11112f;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.btn-home:hover {
  box-shadow: none;
  color: #fff;
  background-color: #3d3d84;
  transform: translateY(3px);
}

.card-custom {
  transition: all 0.3s ease 0s;

  padding: 15px 10px;
  margin: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 24rem;
  width: 18rem;
  /* border: solid 1px #ceb1be; */
  background: rgb(241, 228, 232);
  background: linear-gradient(
    174deg,
    rgba(230, 242, 251, 0.567) 0%,
    rgb(255, 255, 255) 100%
  );

  position: relative;
  top: 0;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  outline: none;
  /*アニメーションの設定*/
  transition: all 0.3s;
}

.card-custom:hover {
  top: -6px;
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.148);
}

.card-link {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

/* .card-link:hover {
  top: -10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
} */

.list-of-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.card-text.scroll {
  overflow: auto;
  margin: 0;
  width: 100%;
  height: 110px;
  padding: 5px;
  border: solid 2px #ffffff;
  color: #1b1b3a;
  background-color: #e4eaf1;
  line-height: 1.5em;
}
.card-title {
  font-weight: 300;
}
.card-title.scroll {
  overflow: auto;
  font-weight: 900;
  width: 100%;
  height: 30px;
  color: #1b1b3a;
  line-height: 1.5em;
}

.card-custom.th-child {
  margin-top: 100px;
  padding: 10px 20px;
}

/* .form-control.description {
  height: 100px;
} */

.home-page-custom {
  /* margin-top: 80px; */
  height: 100%;
}

.container.add-section {
  width: 50%;
}

/* .adding-page-custom {
  margin-top: 100px;
  margin-bottom: 10px;
} */

.adding-page-custom {
  position: relative;
  text-align: center;
  font-size: 18px;
}

.adding-page-custom:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: solid 2px #000;
  transform: translateX(-50%);
  animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.form-control.multi {
  height: 130px;
}

.list-title {
  position: relative;
  font-size: 30px;
}

.list-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: solid 2px #000;
  animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* .card-custom:last-child {
  margin-top: 12px;
  border: 1px solid black;
} */

/* .card-custom.first-child {
  border: 3px solid black;
  margin-top: 0;
} */
.nav-link {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px
      no-repeat,
    linear-gradient(currentColor 0 0) 100% calc(100% - 6px) / var(--d, 0) 3px
      no-repeat;
  transition: 0s 0.5s, background-size 0.5s;
}

.nav-link:hover {
  --d: 100%;
  background-position: 0% calc(100% - 3px), 100% calc(100% - 3px);
  transition: 0.3s, background-position 0.3s 0.3s;
}

.container.list {
  background: rgb(241, 236, 237);
  background: linear-gradient(
    190deg,
    rgba(241, 236, 237, 0.6293110994397759) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 10px;
  border-radius: 10px;
}

.container.add-section {
  background: rgb(241, 236, 237);
  background: linear-gradient(
    190deg,
    rgba(241, 236, 237, 0.6293110994397759) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 10px;
  border-radius: 10px;
}

.container.list h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container.add-section {
  padding-top: 30px;
  padding-bottom: 30px;
}
