@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

* {
  font-weight: 300;
}
.navbar {
  background-color: #b97375;
}

.nav-item a {
  color: #e2dcde;
  font-weight: 800;
  text-transform: uppercase;
}
.nav-item a:hover {
  color: #ceb1be;
  /* text-decoration: underline; */
  font-weight: 900;
}
.nav-item a:active {
  color: #7b3437 !important;
}
/* .nav-active a:active {
  color: #7b3437;
} */

h1 {
  margin: 10px 10px;
  padding-top: 100px;
}
.homepage-head {
  padding-top: 100px;
}

.btn-custom {
  background-color: #f1e4e8 !important;
}

.card-body {
  /* position: absolute; */
}

.nav-list {
  text-align: center;
}

.table-custom {
  background-color: #1b1b3a;
  color: #f1e4e8;
  font-weight: 700 !important;
  text-align: center;
}

.adding-page-custom {
  margin-top: 100px;
}
.home-page-custom {
  margin-top: 100px;
}

.select-list {
  margin-top: 20px;
  margin-bottom: 30px;
}
