<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'CREATE COURSE')">
</head>
<body>
    <nav th:replace="layouts :: nav"></nav>
  <body>
   <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle position-absolute bottom-0 end-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

  </body>
</html>
