<!DOCTYPE html>
<html lang="en">
  <head th:replace="layouts :: head (pageTitle = 'COURSES')"> </head>
  <body>
    <nav th:replace="layouts :: nav"></nav>
    <div class="container">
      <h1>Course List</h1>

      <div class="row-of-tables">
        <div class="custom-table">
          <!-- <h4>Courses</h4> -->
          <hr />

          <table class="table table-bordered table-striped">
            <thead class="table-custom">
              <tr>
                <th>Title</th>
                <!-- <th>Teacher Name</th> -->
                <th>Course Description</th>
                <th>Students</th>
                <th>Teacher(s)</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr th:each="course: ${courses}">
                <th th:text="${course.title}"></th>
                <!-- <th th:text="${teacher.name}"></th> -->
                <th th:text="${course.description}"></th>
                <th th:text="${course.students}"></th>
                <th th:text="${course.teachers}"></th>
                <th>
                  <div class="btn-align">
                    <button class="btn btn-sm btn-custom edit">
                      <a
                        href="/student/showStudents/edit"
                        style="text-decoration: none; color: inherit"
                        >EDIT</a
                      >
                    </button>
                    <button class="btn btn-sm btn-custom delete">
                      <a
                        th:href="@{/course/delete/{id}(id=${course.courseId})} "
                        >DELETE</a
                      >
                    </button>
                  </div>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
