<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <head th:replace="layouts :: head (pageTitle = 'EDIT TEACHER')"></head>
  </head>
  <body>
    <nav th:replace="layouts :: nav"></nav>
    <div class="container add-section">
      <form action="/teacher/edit/save" method="POST" th:object="${teacher}">
        <fieldset>
          <legend class="adding-page-custom">Edit Teacher</legend>

          <div class="row">
            <div class="col">
              <label for="teacherFirstName" class="mb-2"></label>
              <input
                type="text"
                placeholder="First name"
                class="form-control"
                th:field="${teacher.firstName}"
              />
            </div>
            <div class="col">
              <label for="teacherLastName" class="mb-2"></label>
              <input
                type="text"
                placeholder="Last name"
                class="form-control"
                th:field="${teacher.lastName}"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="teacherPhoneNumber" class="mb-2"></label>
            <input
              type="text"
              placeholder="Phone Number"
              class="form-control"
              th:field="${teacher.phoneNumber}"
            />
          </div>
          <div class="form-group">
            <label for="teacherEmail" class="mb-2"></label>
            <input
              type="text"
              placeholder="E-mail Address"
              class="form-control"
              th:field="${teacher.email}"
            />
          </div>
          <div class="form-group select-list">
            <label for="teacher_course" class="mb-2">Courses: </label>
            <select
              class="form-control"
              multiple="multiple"
              th:field="*{courses}"
            >
              <option
                th:each="course: ${courses}"
                th:value="${course.courseId}"
                th:text="${course}"
              ></option>
            </select>
          </div>
          <button type="submit" class="btn btn-dark btn-add">Submit</button>
          <div class="row" >
            <div class="col">
            <label for="firstName" class="mb-2"></label>
            <input style="display: none;" class="form-control" type="text" th:field="${teacher.teacherId}">
        </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
