<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: head (pageTitle = 'Teachers')">
</head>
<body>
    <nav th:replace="layouts :: nav"></nav>
    <h1>Teacher List</h1>

    <div class="row-of-tables">
        <div class="custom-table">
            <h4>Teachers</h4>
            <hr>

            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email Address</th>
                        <th>Courses</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr th:each="student: ${students}">
                        <th th:text="${student.studentFirstName}"></th>
                        <th th:text="${student.studentLastName}"></th>
                        <th th:text="${student.studentPhoneNumber}"></th>
                        <th th:text="${student.studentEmail}"></th>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>